body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #f06, #f90, #6f0, #06f);
    background-size: 200% 200%;
    animation: gradientAnimation 5s ease infinite;
  }
  
  
  .container {
    position: relative;
    width: 400px;
    height: 400px;
  }
  
  .shape {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    mix-blend-mode: overlay;
    opacity: 0.7;
    animation: scaleAnimation 6s ease infinite;
  }
  
  .shape-1 {
    background: radial-gradient(circle, #ff0, #f00);
    left: 0;
    top: 0;
  }
  
  .shape-2 {
    background: radial-gradient(circle, #0f0, #00f);
    right: 0;
    top: 0;
  }
  
  .shape-3 {
    background: radial-gradient(circle, #00f, #ff0);
    left: 0;
    bottom: 0;
  }
  