*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* 1rem = 10 px */
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    background: #16213E;
}

a,a:visited, a:link{
    color: #eee;
    text-decoration: none;
}

.nav {
    width: 100%;
    background: rgba(15, 52, 96, 0.7);
    display: flex;
    justify-content: space-between;
    min-height: 7rem;
    align-items: center;
    color: #eee;
    padding: 2rem;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}



.list {
    display: flex;
    list-style: none;
    gap: 4rem;
}

.cta {
    width: 11rem;
    padding: 1rem;
    font-size: 80%;
    background: #E94560;
    border: none;
    color: white;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.cta:hover {
    cursor: pointer;
    background: hsl(350, 79%, 49%);
    transition: 0.2s;
}

.banner {
    height: 100vh;
    width: 100%;
    position: relative;

}

    


.banner>figure {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.2), blue), url("/img/pexels-tanathip-rattanatum-2026451\ \(1\).jpg");
    background-position: bottom;
    background-size: cover;
}

.banner>figure>div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 3rem;
    align-items: center;
    color: #eee;
    text-align: center;
}


.heading {
    font-family: 'Great Vibes', cursive;
    font-size: 500%;
}

.heading2 {
    font-family: 'Great Vibes', cursive;
    font-size: 380%;
}

.logo {
    font-size: 250%;
    color: #eee;
    border: 0.5rem solid #E94560;
    border-radius: 50%;
    padding: 1.5rem;
}

.over {
    padding: 4rem;
    height: 80rem;
    border-bottom: 0.2rem solid #E94560;
}

.over>header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.over>h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 380%;
    color: #eee;
    text-align: center;
}

.over>div {
    display: flex;
    gap: 4rem;
    justify-content: center;
    height: 100%;
}

.over>div>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.over>div>div>p {
    width: 55ch;
    color: #eee;
}

.over> div > figure> img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}


.over > div > figure{
    position: relative;
    width: 60rem;
    height: 60rem;
}


.over > div > figure::after{
    content: "";
    background: linear-gradient(to bottom right, rgba(22, 33, 62, 0.8), 80%, rgba(233, 69, 96, 0.5));;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.kenmerken {
    height: 120vh;
    border-bottom: 0.2rem solid #E94560;
    padding: 4rem;
}

.kenmerken>header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    height: 20%;
}

.kenmerken>header>h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 380%;
    color: #eee;
}

.onzeKenmerken {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.kenmerk {
    list-style: none;
    color: #eee;
    flex-shrink: 0;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.kenmerk>p {
    width: 30ch;
    text-align: center;
}

.kenmerkIcon {
    font-size: 180%;
    border: 0.1rem solid #E94560;
    border-radius: 50%;
    padding: 2rem;
}

.gallerij {
    height: 80vh;
}

.gallerij>header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 6rem;
}

.gallerij>header>h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 380%;
    color: #eee;
    text-align: center;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
}

.foto {
    width: 25%;
    height: 40rem;
    list-style: none;
    position: relative;
}

.foto>section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right, rgba(22, 33, 62, 0.8), 80%, rgba(233, 69, 96, 0.5));
    transform: scaleX(0);
     transition: 0.8s;
     transform-origin: left;
     display: flex;
     justify-content: center;
    align-items: center;
    }

    .foto > section >.cta {
        opacity: 0;
        transition-delay: 0.8s;
        transition-duration: 0.2s;
    }

    .foto:hover > section >.cta {
        opacity: 1;
    }

    .foto:hover > section {
        transform: scale(1);
    }

    .foto>img {
        height: 100%;
        width: 100%;
        object-fit:cover;

    }

    @media screen and (max-width:75rem) {
        
        body{
            font-size: 1.6rem;
        }
        .banner {
            height: 140rem;
        }

        .over{
            min-height: 130rem;
        }

        .over > header{
            height: 20%;
        }
        .over >div{
            flex-direction: column;
            height: 80%;
        }

        .over >div >div{
            height: 60%;
        }

        .over>div>div>p {
            width: 100%;
            color: #eee;
        }

        }
        .over > div > figure{
            position: relative;
            width: 100%;
            height: 40%;
        }

        .kenmerken{
            min-height: 120rem;
        }

        .kenmerken{
            width: 100%;
        }

        .gallerij{
            height: auto;
        }

        .foto{
            height:20rem;
             width: 100%;
        }

        .fotos{
            flex-wrap: wrap;
        }

        .foto:hover > section >.cta {
            opacity: 1;
        }
    
        .foto:hover > section {
            transform: scale(1);
        }




    @media screen and (max-width:50rem){
        .list{
            flex-direction: column;
        }
    }