@use 'components';
@use 'colors';

.social__footer {
  @extend %section;
  height: 10rem;
}

.social_icons {
  display: flex; 
  list-style: none; 
  padding: 0; 
  justify-content: center;
}

.social_icons li {
  margin-right: 2rem; 
}

.social_icons a {
  color: red;
  font-size: 2rem; 
}

.social_icons a:hover {
  color: colors.$pink;
}
